@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* some Tailwindcss Reusable components that will help us write less classes
*/
@layer components {
  .btn-primary {
    @apply shadow-lg bg-primary px-4 py-2 text-gray-200 rounded border-none;
  }
  .btn-secondary {
    @apply shadow-lg bg-secondary px-4 py-2 text-gray-200 rounded border-none;
  }
  .btn-accent {
    @apply shadow-lg bg-accent hover:bg-secondary transition-all duration-300 px-4 py-2 text-sm text-gray-200 rounded border-none;
  }
  .bg-gradient {
    @apply bg-gradient-to-r from-pink-500 to-purple-500;
  }
}
/* 
* Base styles helps avoid any weird behavior that might hapen
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

/* animated circles */
.loader-cirle {
  border: 16px solid #356c91;
  border-radius: 50%;
  /* border-color: linear-gradient(#f856a6, #6b81f9); */
  width: 110px;
  height: 110px;
  /* animation: spin 2s linear infinite; */
  position: relative;
}
.loader-cirle-one {
  border-top: 16px solid #f856a6;
}
.loader-cirle-two {
  border-top: 16px solid #f856a6;
  border-right: 16px solid #f856a6;
}
.loader-cirle-three {
  border: 16px solid #f856a6;
  transition: all 300ms linear;
}
